@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;


.p-article {

    h2 {
        padding: 30px 0 30px 0;
        font-size: 36px;
    }
    h3 {
        padding: 30px 0 30px 0;
        font-size: 26px;
    }
    h4,
    h5,
    h6 {
        padding: 30px 0 30px 0;
        font-size: 20px;
    }
    p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .wp-block-quote {
        // border:#707070 ;
        background-color: #F5F5F5;
        padding: 30px 20px;
        @include m.mq(tab){
            padding: 50px;
        }
        cite{
            line-height: 30px;
        }
        a {
            color: #4A6C9B;

        }
    }
    pre {
        padding: 50px;
        background-color: #F5F5F5;
    }


    .wp-block-button {
        a{
            height: 100px;
            width: 429px;
            background-color: #F2EDE9;
            color: #3C2A10;
            // text-align: center;
            line-height: 4rem;
            border: solid #707070;
        }
        
        
    }











}