@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-footer {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    justify-content: center;
    margin-top: 0%;
    align-items: center;

    // #menu-item-224 {
    //     position: relative;
    //     padding: 0;
    // }

    #menu-item-86:before {
        display: block;
        content: "";
        height: 1.2em;
        border-left: 2px solid #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }




    &__shop {
        color: #FFFFFF;
        display: flex;
        position: relative;

        a {
            color: #FFFFFF;
            padding: 0 20px 0 20px;
        }
    }




    &__cp {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: regular;
        text-align: center;
        display: block;
        align-items: center;
    }

}