@charset "UTF-8";

@use "../../Foundation/mixin" as m;
@use "../../Foundation/variable" as v;

.p-footer {
    display: flex;
    color: #FFFFFF;
    font-size: 20px;
    justify-content: center;
    margin-top: 0%;
    align-items: center;
    // padding: 0 1.3rem;



    &__shop {
        color: #FFFFFF;
        display: flex;
        padding: 0;

        li + li {
            display: inline-block;
            border-left: solid 3px #FFF;
            margin: 0 10px 0 0;
        }
        
    }

    a {
        color: #FFFFFF;
    }


    &__cp {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: regular;
        text-align: center;
        display: block;
        align-items: center;
    }

    
}